html{
  font-size: 62,5%;
}

.body {
  background-color: black;
}

.slider {
  max-width: 50rem;
  background-color: #2b3034;
  margin: 0 auto;
}

.slider_wrapper {
  margin: 0 auto;
  max-width: 95%;
}

.buttons_wrapper {
  display: flex;
  justify-content: flex-end;
}

/* .inputs{
    display: none;
} */

.text {
  color: #ffffff;
}

.image_container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.image_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400%;
  transition: margin-left 0.5s;
}

.inner{
  width: 100%;
  overflow: hidden;
  padding-top: 1.2rem;
}

.img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1%;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  /* background-color: red; */
  margin-left: 2rem;
  cursor: pointer;
}

.button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: green;
}

.checkmark:hover > .button{
    background-color: aqua;
}

#slide1:checked
  ~ .buttons_container
  > .buttons_wrapper
  > .radio_container:nth-child(1)
  > .checkmark
  > .button {
  background-color: red;
}
#slide2:checked
  ~ .buttons_container
  > .buttons_wrapper
  > .radio_container:nth-child(2)
  > .checkmark
  > .button {
  background-color: red;
}
#slide3:checked
  ~ .buttons_container
  > .buttons_wrapper
  > .radio_container:nth-child(3)
  > .checkmark
  > .button {
  background-color: red;
}
#slide4:checked
  ~ .buttons_container
  > .buttons_wrapper
  > .radio_container:nth-child(4)
  > .checkmark
  > .button {
  background-color: red;
}

.slider ~ #slide2 {
  background-color: red;
}

.data {
  display: block;
  height: inherit;
}

.section{
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  /* flex-direction: column-reverse;
  gap: 2rem; */
}

#slide1:checked~.image_container>.inner>.image_wrapper {
  margin-left: 0;
}

#slide2:checked~.image_container>.inner>.image_wrapper {
  margin-left: -100%;
}
#slide3:checked~.image_container>.inner>.image_wrapper {
  margin-left: -200%;
}
#slide4:checked~.image_container>.inner>.image_wrapper {
  margin-left: -300%;
}

#slide1:checked~.section> .text_container>.text_wrapper {
  margin-left: 0;
}

#slide2:checked~.section> .text_container>.text_wrapper {
  margin-left: -100%;
}
#slide3:checked~.section> .text_container>.text_wrapper {
  margin-left: -200%;
}
#slide4:checked~.section> .text_container>.text_wrapper {
  margin-left: -300%;
}

input{
  display: none;
}

.text_container{
  width: 100%;
  overflow: hidden;
}

.text{
  font-size: 1.2rem;
}

.text_wrapper{
  width: 400%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: margin-left 0.5s;
}